.task-list{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: #F3F5F6;
    width: 300px;
    padding-bottom: 20px;
}

.column>h2{
    align-self: flex-start;
    padding-left: 10px;
}